@import "variables";
@import "helpers";

.edac-highlight{
    display: block;
    clear: both;
    outline: dashed 3px transparent;
    outline-offset: 5px;
    &-error{
        outline-color: $color-red;
        .edac-highlight-btn{
            background: $color-red url("../images/error icon white.png") center center no-repeat;
            background-size: 34px 34px;
        }
    }
    &-warning{
        outline-color: $color-orange;
        .edac-highlight-btn{
            background: $color-orange url("../images/warning icon navy.png") center center no-repeat !important;
            border: solid 3px $color-blue-dark !important;
            background-size: 24px 24px !important;
        }
    }
    &-btn{
        width: 40px;
        height: 40px;
        display: block;
        font-size: 0;
        border-radius: 50%;
        // position: absolute;
        // top: -36px;
        // left: 0;
        margin-bottom: 7px;
        &-warning{

        }
        &-error{

        }
    }
}